body {
  font-size: 14px;
  color: #333;
}

// 版心
.wrapper {
  width: $contentWidth;
  margin: 0 auto;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
